# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files to be normalized to LF on checkout.
*.sh text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
